<h1>Bookshelf Inventory</h1>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>METHOD</th>
      <th>URL</th>
      <th>EXPECTED REQUEST</th>
      <th>EXPECTED RESPONSE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>GET (all books)</td>
      <td>/books</td>
      <td></td>
      <td>[{
          "id": 1,
          "title": "Emtrak",
          "author": "Jami Kaufman",
          "pages": 886
        }, ...]
      </td>
    </tr>
    <tr>
      <td>GET (one book)</td>
      <td>/books/:id</td>
      <td></td>
      <td>[{
          "id": 1,
          "title": "Emtrak",
          "author": "Jami Kaufman",
          "pages": 886
        }]
      </td>
    </tr>
    <tr>
      <td>POST (one book)</td>
      <td>/books</td>
      <td>{
          "title": "Blogsphere",
          "author": "Uneida Life",
          "pages": 25
        }
      </td>
      <td>[... , {
          "id": 14
          "title": "Blogsphere",
          "author": "Uneida Life",
          "pages": 25
        }]
      </td>
    </tr>
    <tr>
      <td>PATCH (one book)</td>
      <td>/books/:id</td>
      <td>{
          "title": "Blogsphere v2"
        }
      </td>
      <td>[... , {
          "id": 14
          "title": "Blogsphere v2",
          "author": "Uneida Life",
          "pages": 25
        }, ...]
      </td>
    </tr>
    <tr>
      <td>Delete (one book)</td>
      <td>/books/:id</td>
      <td></td>
      <td>[{
          "id": 1,
          "title": "Emtrak",
          "author": "Jami Kaufman",
          "pages": 886
        }, ...]
      </td>
    </tr>
  </tbody>
</table>
